<!DOCTYPE html>
<html>

{% load static %}

<head>
  <meta charset="utf-8">
<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'panel/css/materialize.min.css' %}"  media="screen,projection"/>
    {% block css %} {% endblock %}

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}LIO{% endblock %}</title>
</head>
<body>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'panel/js/materialize.min.js' %}"></script>

    <nav class="blue">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'liocontrol:index' %}" class="brand-logo">Painel - São Carlos - SP</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% block navLinks %}

                    {% endblock %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    {% block navLinksMobile %}

                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="width: 90%; padding-top: 20px;">
        <div>
            {% block content %}
                # sub pages content
            {% endblock %}
        </div>
        <!--<div style="margin-top: 30px; border-top: 2px solid #EEE; padding-top: 5px;">
            <strong>Laboratório de Instrumentação Oftálmica</strong>
            <br>
            Departamento de Engenharia Elétrica - EESC-USP
            <br>
            Av. Trabalhador Sãocarlense 400, 13566-590 São Carlos - SP
        </div>-->
    </div>
</body>
</html>