{% extends 'base.html' %}

{% load static %}

{% block title %}LIO{% endblock %}

{% block navLinks %}
    <li><a href="{% url 'liocontrol:index' %}">Home</a></li>
    <li><a href="{% url 'liocontrol:config' %}">Configuração</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
{% endblock %}
{% block navLinksMobile %}
    <li><a href="{% url 'liocontrol:index' %}">Home</a></li>
    <li><a href="{% url 'liocontrol:config' %}">Configuração</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
{% endblock %}

{% block content %}
<div class="row">

<div class="col s6 z-depth-4 card-panel">
    <div class="card">
        <div class="card-content">

            <span class="card-title">Configurações</span>
            <div class="row">
                <form action="" method="post" class="col s12">
                {% csrf_token %}
                    <div class="input-field col s6">
                        <input id="longitude" name="longitude" type="text" class="validate" value="{{ config.long }}">
                        <label for="longitude">Longitude</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="latitude" name="latitude" type="text" class="validate" value="{{ config.lati }}">
                        <label for="latitude">Latitude</label>
                    </div>
                    <button class="btn waves-effect waves-light col s12" type="submit">Salvar</button>
                </form>
            </div>
        </div>
        <div class="card-action">
            <a href="#">Salvar</a>
            <a href="#">Limpar</a>
        </div>
    </div>
</div>

{% endblock %}