{% extends 'base.html' %}

{% load static %}

{% block title %}LIO{% endblock %}

{% block navLinks %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}
{% block navLinksMobile %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s1 z-depth-1 card-panel">
        <img style="margin-top:25%;" src="{% static '/panel/images/logos/usp-logo-png-transparente.png' %}" alt="Pôr do sol" width="100%">
        <img style="margin-top:25%;" src="{% static '/panel/images/logos/logo_eesc_vertical.jpg' %}" alt="Pôr do sol" width="100%">
        <img style="margin-top:25%;" src="{% static '/panel/images/logos/logoLIO-correto-AZUL.bmp' %}" alt="Pôr do sol" width="100%">
        <img style="margin-top:25%;" src="{% static '/panel/images/logos/cnpq.png' %}" alt="Pôr do sol" width="100%">
        <img style="margin-top:25%;" src="{% static '/panel/images/logos/FAPESP.jpg' %}" alt="Pôr do sol" width="100%">
    </div>

    <div class="col s8 z-depth-1 card-panel">
        <div class="card">
            <div class="card-content">
                <div style="height:48px">
                    <span style="display:inline-block;" class="card-title">Sistema de Exposição Solar ({{ now }})</span> 
                    <!--<span style="color: {{ state_color }}; font-size:calc(12px + 1vw); margin-left:10%;"> {{ state }} </span>
                   
                    <span style="color: {{ state_color }}; font-size:calc(12px + 1vw); margin-left:10%;"> {{ state }} </span>
                     -->
                    {% if manual %}
                    <img style="vertical-align:middle; margin-left:10%;" src="{% static '/panel/images/manual.png' %}" alt="Controle manual" height="100%">
                    {% elif rain %}
                    <img style="vertical-align:middle; margin-left:10%;" src="{% static '/panel/images/rain.png' %}" alt="Pôr do sol" height="100%">
                    {% elif night %}
                    <img style="vertical-align:middle; margin-left:10%;" src="{% static '/panel/images/night.png' %}" alt="Noite" height="100%">
                    {% endif %}
                    
                </div>
                <img class="shrinkToFit" style="width:100%;" src="http://admin:123456@143.107.235.2:8010/mjpeg/stream.cgi?chn=0" alt="http://admin:123456@143.107.235.2:8010/mjpeg/stream.cgi?chn=0">
            </div>
        </div>
    </div>

    <div class="col s3 z-depth-1 card-panel">
        <div class="card">
            <div class="card-content" style="height:100%; width:100%; overflow: hidden;">
                <div style="float: left; width:75%;">
                    <div>
                        <img style="vertical-align:middle" src="{% static '/panel/images/sunrise.png' %}" alt="Nascer do sol" width="25%" height="25%">
                        <span style="vertical-align:middle; margin-left:5%; font-size:1.8vw">{{ sunrise }}</span>
                    </div>
                    <div style="margin-top:5%">
                        <img style="vertical-align:middle" src="{% static '/panel/images/sunset.png' %}" alt="Pôr do sol" width="25%" height="25%">
                        <span style="vertical-align:middle; margin-left:5%; font-size:1.8vw">{{ sunset }}</span>
                    </div>
                </div>
                <div style="float: left; width:25%; height:100%;">
                        {% static "" as baseUrl %}
                        <img style="width:100%; height:100%" src="{{ baseUrl }}panel/images/uv/UVI_{{ iuv }}.png" alt="Índice ultra violeta">
               </div>
               <div style="float: right;">
                    {{ iuv_data_hora }}
                    </div>
                
            </div>
        </div>
        <div class="card">
            <div class="card-content" style="height:100%; width:100%; overflow: hidden;">
                <span class="card-title">Rotação das lentes </span>               
            </div>
            <!-- TODO: mudar margens -->
            <div style="vertical-align:middle; margin-left:5%; margin-top:-10%;">
                27/01/17 a 13/11/17 ==> NORTE
                <b>14/11/17 em diante ==> SUL</b>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Resumo (24 horas)</span>
            </div>
            <canvas id="pie-chart-sample" width="472" height="236" style="width: 472px; height: 236px;"></canvas>
            <table class="table remove-background">
                <tbody>
                <tr>
                    <td style="padding: 5px 5px;" class="text-left size-sm">
                        <div style="background-color:#f7f000;min-width: 10px;height: 10px;"></div>Exposto</td>
                </tr><tr>
                    <td style="padding: 5px 5px;" class="text-left size-sm">
                        <div style="background-color:#000000;min-width: 10px;height: 10px;"></div>Noite</td>
                </tr><tr>
                    <td style="padding: 5px 5px;" class="text-left size-sm">
                        <div style="background-color:#46BFB0;min-width: 10px;height: 10px;"></div>Chuva</td>
                </tr></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static '/panel/js/chart.min.js' %}"></script>
<script type="text/javascript" src="{% static '/panel/js/chart.js' %}"></script>


{% endblock %}