{% extends 'base.html' %}

{% load static %}

{% block title %}LIO{% endblock %}

{% block navLinks %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}
{% block navLinksMobile %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}

{% block content %}
<div class="row">

<div class="col s8 z-depth-1 card-panel">
    <div class="card">
        <div class="card-content">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Quando</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in object_list %}
                    <tr>
                        <td>{{ event.type}}</td>
                        <td>{{ event.desc }}</td>
                        <td>{{ event.when|date:'d/m/Y H:i:s'  }}</td>
                    </tr>
                    {% empty %}
                    <li>Nenhum registro encontrado.</li>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col s4 z-depth-1 card-panel">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Filtro e Download</span>
		
            <div class="row">
           <div class="input-field col s6">
           
            <label>Período</label><br><br>
              <select id="tempo_filtro" class="browser-default">
                <option value="1" {% if time == 1 %}selected{% endif %}>Últimas 24 horas</option>
                <option value="3" {% if time == 3 %}selected{% endif %}>Últimos 3 dias</option>
                <option value="7" {% if time == 7 %}selected{% endif %}>Últimos 7 dias</option>
                <option value="30" {% if time == 30 %}selected{% endif %}>Últimos 30 dias</option>
              </select>
          </div>
          
           <div class="input-field col s6">
           
            <label>Tipo</label><br>
            <p>
              <input name="tipo_filtro" type="radio" id="tipo_filtro1" value="1" {% if type == 1 %}checked{% endif %} />
              <label for="tipo_filtro1">Todos</label>
            </p>
            <p>
              <input name="tipo_filtro" type="radio" id="tipo_filtro2" value="2" {% if type == 2 %}checked{% endif %} />
              <label for="tipo_filtro2">Eventos</label>
            </p>
            <p>
              <input name="tipo_filtro" type="radio" id="tipo_filtro3" value="3" {% if type == 3 %}checked{% endif %} />
              <label for="tipo_filtro3">Alertas</label>
            </p>
            <p>
              <input name="tipo_filtro" type="radio" id="tipo_filtro4" value="4" {% if type == 4 %}checked{% endif %} />
              <label for="tipo_filtro4">Erros</label>
            </p>
            </div>
            </div>
             <button type="button" onclick="filter()">Filtrar</button>
             <button type="button" onclick="download()">Download</button>
             <script>
             
            
            function filter() {
            
            // TODO: indicar que está filtrando (loading...)
                // Declare variables
                var tempo_filtro, tempo, tipo_filtro, tipo, table, tr, td, i;
                tempo_filtro = document.getElementById("tempo_filtro");
                tempo = tempo_filtro.value;
                tipo_filtro = document.getElementsByName('tipo_filtro');
                for (var i = 0, length = tipo_filtro.length; i < length; i++) {
                    if (tipo_filtro[i].checked) {
                        tipo = tipo_filtro[i].value;
                        break;
                    }
                }
                
                // TODO: automatically get my URL
                var myURL = 'http://143.107.235.2:8000/panel/logs?';
                var params = { 'type':tipo, 'time':tempo };
                var new_url = myURL + $.param(params);
                document.location = new_url;
            }
            
            
            function download() {
            
            // TODO: indicar que está filtrando (loading...)
                // Declare variables
                var tempo_filtro, tempo, tipo_filtro, tipo, table, tr, td, i;
                tempo_filtro = document.getElementById("tempo_filtro");
                tempo = tempo_filtro.value;
                tipo_filtro = document.getElementsByName('tipo_filtro');
                for (var i = 0, length = tipo_filtro.length; i < length; i++) {
                    if (tipo_filtro[i].checked) {
                        tipo = tipo_filtro[i].value;
                        break;
                    }
                }
                
                // TODO: automatically get my URL
                var myURL = 'http://143.107.235.2:8000/panel/logs/download?';
                var params = { 'type':tipo, 'time':tempo };
                var new_url = myURL + $.param(params);
                document.location = new_url;
            }
            
            </script>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{% static '/panel/js/jquery-3.2.1.js' %}"></script>

{% endblock %}