{% extends 'base.html' %}

{% load static %}

{% block title %}LIO{% endblock %}

{% block navLinks %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}
{% block navLinksMobile %}
    <li><a href="{% url 'liocontrol:index' %}">Início</a></li>
    <li><a href="{% url 'liocontrol:logs' %}">Registros</a></li>
    <li><a href="{% url 'liocontrol:manual' %}">Manual</a></li>
    <li><a href="{% url 'liocontrol:data' %}">Dados Técnicos</a></li>
    <li><a href="{% url 'liocontrol:logout' %}">Sair</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s2"></div>
    <div class="col s8 z-depth-1 card-panel">
            <div class="card">
                <div class="card-content">
                    <span style="display:inline-block;" class="card-title">Controle manual</span> 
                    
                    <div class="row">
                        <div class="col s6">
                            <p><b>Estado atual:</b> controle manual
                            {% if manual %}
                            <font color="red">ativo</font>!
                            {% else %}
                            <font color="green">inativo</font>!
                            {% endif %}
                            </p>
                            
                        </div>
                                            
                        <div class="input-field col s6">
                            <label>Modo</label><br>
                            <p>
                              <input name="mode" type="radio" id="mode_auto" value="1"
                              {% if not manual %}checked{% endif %}
                              />
                              <label for="mode_auto">Automático</label>
                            </p>
                            <p>
                              <input name="mode" type="radio" id="mode_manual_open" value="2"
                              {% if manual %}{% if not manual_closed %}checked{% endif %}{% endif %}
                              />
                              <label for="mode_manual_open">Manual - Aberto</label>
                            </p>
                            <p>
                              <input name="mode" type="radio" id="mode_manual_closed" value="3"
                              {% if manual_closed %}checked{% endif %}
                              />
                              <label for="mode_manual_closed">Manual - Fechado</label>
                            </p>
                            <button type="button" style="margin-top:20px" onclick="change()">Alterar</button>
                        
                        </div>
                        
                        <div class="col s11 right-align">
                        </div>
                            
                    </div>
                            
                            <script>
                                function change() {
                                    if (document.getElementById('mode_auto').checked) {
                                        mode = 'auto';
                                    } else if (document.getElementById('mode_manual_open').checked) {
                                        mode = 'manual_open';
                                    } else if (document.getElementById('mode_manual_closed').checked) {
                                        mode = 'manual_closed';
                                    }
                                    $.post("/panel/manual/", {csrfmiddlewaretoken: '{{ csrf_token }}', mode: mode}, function() {
                                        location.reload();
                                        });
                                    }
                            </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}