{% extends 'base.html' %}

{% load static %}

{% block title %}LIO - Login{% endblock %}

{% block content %}
<div id="login-page" class="row" style="width: 40%; margin:0 auto;">
{% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}    
    <div class="col s12 z-depth-4 card-panel">
        <form method="post" class="login-form" action="{% url 'liocontrol:login' %}">
        {% csrf_token %}
            <div class="col s3"></div>
            <div class="input-field col s6 center">
                <img src="{% static 'panel/images/logo_lio_pg.jpg' %}" alt="" class="responsive-img valign profile-image-login">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">perm_identity</i>
                <input autofocus="" id="id_username" maxlength="254" name="username" required="" type="text">
                <label for="id_username" class="">Usuário</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input iid="id_password" name="password" required="" type="password">
                <label for="id_password" class="">Senha</label>
            </div>
            <div class="input-field col s12" style="margin-bottom: 20px;">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
{% endif %}
</div>

{% endblock %}